

<div class="col">
  <div class="card shadow-sm">
      <img src="<%= movie.title_image %>" class="bd-placeholder-img card-img-top" width="50%" height="450">
    <div class="card-body">
      <p class="card-text"><%= movie.title %></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
            <%= link_to movie_path(movie.id) do %>
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <% end %>
        </div>
        <small class="text-muted">Rating: <%= movie.average_rating %></small>
      </div>
    </div>
  </div>
</div>
