<main class="bg-dark">

  <section class="py-5 text-center container">
    <div class="row py-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="text-white bg-dark">Movies in the <%= @category.name%> category</h1>
       </div>
     </div>
  </section>

    <div class="album py-5 text-dark">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <% @movies.each do |movie| %>
            <%= render partial: "movies/movie", locals: { movie: movie } %>
          <% end %>
          </div>
          <%= paginate @movies %>
        </div>
      </div>

</main>
